*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boody { 
background-color: #52525b;
color: #fff7ed;
}

h1,h2,h3{
    color: #dc2626;
}